@import '../App/vars.scss';

#composer {
  border-top:3px solid tint($base-green, 40%);
  height: 10%;

  .input {
    align-items: center;
    align-content: center;
    display: flex;
    padding-top: 2rem;
    width: 100%;

    .compose-input {
      color: $drk-gray;;
      font-size: 2rem;
      font-weight: bold;
      height: 4rem;
      margin-left: 2rem;
      width: 60%;

      &::-webkit-input-placeholder {
        color: $med-gray;
      }
    }

    .msg-submit {
      -webkit-appearance: none;
      border: 1px solid $base-green;
      color: $base-green;
      font-size: 2.5rem;
      font-weight: bold;
      height: 4rem;
      margin-left: 2rem;
      padding: .7rem;
    }
  }
}
